* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f7fa;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Left side - Image Section */
.image-container {
    flex: 1;
    background-image: url('../img/img.jpeg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px;
    border-radius: 12px;
    box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    height: 90vh; 
    overflow: hidden;
}

img{
    width: 100%;
}

/* Right side - Form Section */
.form-container {
    width: 400px;
    background-color: #ffffff;
    margin: 20px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    max-height: 90vh;
    overflow-y: auto;
}

h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
    font-weight: 600;
}


label {
    display: block;
    text-align: left;
    margin-bottom: 6px;
    font-size: 14px;
    color: #333;
}

input[type="text"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 14px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="date"]:focus, select:focus {
    border-color: #6c63ff;
}

input[type="radio"] {
    margin-right: 10px;
    accent-color: #6c63ff;
}


.error {
    color: #ff4d4f;
    font-size: 12px;
    margin-bottom: 15px;
    display: block;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #6c63ff;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: 500;
    margin-top: 10px;
}

button:hover {
    background-color: #4b47c7;
}

.success-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.message-box{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
    
    .image-container {
        display: none;
    }

    .form-container {
        width: 100%;
        max-width: 100%;
        border-radius: 0;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }
}
